.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.DisplayContainer {
  border: 3px solid #ee2828;
  width: 250px;
  margin: auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px; 
  height: 100px;
}

.DispContainer {
  padding: 5px;
  border: 2px solid #f07070;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 5px; 
}

.ButtonsContainer {
  border: 2px solid #f02626;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  background-color: #d9d9d9;
  padding: 5px;
}


.ButtonsContainer > button {
  font-size: 1em;
  padding: 8px; 
  background-color: #c4c4c4;
  border: 1px solid #a31515;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
}

.ButtonsContainer > button:hover {
  background-color: #ac1919;
}

.ButtonsContainer > .surname {
  grid-column: span 4;
  background-color: #a8a8a8;
  color: #333;
  font-weight: bold;
}
